<app-employees-schedule-filter
  [employees]="employees$ | async"
  (filterChange)="onFilterChange($event)"
></app-employees-schedule-filter>
<mat-card
  [ngClass]="{ hide: loading }"
  *ngIf="employeeClockInOuts$ | async as employeeClockInOuts"
  class="employees-schedule-table-card"
>
  <mat-card-content>
    <app-employees-schedule-table
      *ngIf="employeeClockInOuts?.length; else noDataTemplate"
      [employeeClockInOuts]="employeeClockInOuts"
    ></app-employees-schedule-table>
    <ng-template #noDataTemplate>
      <div class="padding">No hay datos para el filtro actual</div>
    </ng-template>
  </mat-card-content>
</mat-card>
<div [ngClass]="{ hide: !loading }" class="box box-justify-content-center">
  <mat-spinner></mat-spinner>
</div>
